/*
font-family: 'Mrs Saint Delafield', cursive;
font-family: 'Oswald', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.center {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #EEEEF3;
}

@media (min-width: 701px) {
  body {
    font-size: 24px;
  }
}

.header {
  background-image: url(../images/lifeguard-1920.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header .header__menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  padding: 1rem;
}

.header .hamburger-button-hidden {
  display: none;
}

.header .nav .nav__list {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  list-style: none;
}

.header .nav .nav__list .nav__list-item {
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header .nav .nav__list .nav__list-item .nav__link {
  padding-left: 1rem;
  line-height: 150%;
  color: white;
  list-style: none;
  text-decoration: none;
}

.header .nav .mobile-menu-open {
  width: 50vw;
}

.header .header__title {
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  padding-top: 6rem;
}

.header .header__subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
}

@media (orientation: landscape) {
  .header .nav .mobile-menu-open {
    width: 30vw;
  }
}

@media (min-width: 701px) {
  .header {
    padding-top: 10%;
  }
  .header .header__title {
    padding-top: 2rem;
  }
  .header .nav {
    margin: 0 auto;
  }
  .header .nav .nav__list {
    position: static;
    padding-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 10vh;
    background-color: transparent;
    margin: 0 auto;
  }
  .header .nav .nav__list .nav__list-item {
    width: 25%;
    height: 20px;
    text-align: center;
  }
  .header .nav .nav__list .nav__list-item .nav__link {
    color: black;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .nav .nav__list .nav__list-item .nav__link:hover {
    letter-spacing: 0.2em;
    font-size: rem;
  }
}

.social {
  position: fixed;
  bottom: 0;
  right: 0;
}

.social .social__list {
  height: 50vh;
  list-style: none;
  padding: 1rem;
}

.social .social__list .social__list-item {
  height: 20%;
  font-size: 2rem;
}

.social .social__list .social__list-item:hover {
  font-size: 1.5rem;
}

.social .social__list .social__list-item .social__link {
  text-decoration: none;
}

.social .social__list .social__list-item .social__link .fa-github-square {
  color: black;
}

.social .social__list .social__list-item .social__link .fa-facebook-square {
  color: #3b5998;
}

.social .social__list .social__list-item .social__link .fa-twitter-square {
  color: #00aced;
}

.social .social__list .social__list-item .social__link .fa-instagram {
  color: #c32aa3;
}

.social .social__list .social__list-item .social__link .fa-pinterest-square {
  color: #bd081c;
}

@media (orientation: landscape) {
  .social .social__list {
    height: 100vh;
  }
}

@media (min-width: 701px) {
  .social .social__list {
    height: 35vh;
    padding: 2rem;
  }
}

.about .about__title {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  background-color: white;
}

.about .about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about__me .about__img {
  width: 100vw;
}

.about .about__me .about__text {
  padding: 1rem 2.5rem;
  background-color: white;
}

@media (min-width: 701px) {
  .about {
    background-color: white;
    padding-bottom: 1rem;
  }
  .about .about__me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__me .about__img {
    width: 50%;
  }
  .about .about__me .about__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.portfolio .portfolio__title {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  background-color: #EEEEF3;
}

.portfolio .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.portfolio .project .project__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.portfolio .project .project__description .fa-angle-left,
.portfolio .project .project__description .fa-angle-right {
  font-size: 2rem;
  padding: 1rem;
}

.portfolio .project .project__title {
  padding: 1rem 0;
  text-align: center;
}

.portfolio .project .project__sample {
  display: none;
  padding: 1rem 3rem;
  background-color: #91C4BC;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio .project .visible {
  display: inline-block;
}

@media (min-width: 701px) {
  .portfolio .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .portfolio .project .project__description {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.offer {
  background-color: white;
}

.offer .offer__title {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  background-color: white;
}

.offer .offer__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer .offer__features .offer__feature {
  padding: 2rem 3rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .offer .offer__features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact {
  background-color: #EEEEF3;
}

.contact .contact__title {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  background-color: #EEEEF3;
}

.contact .contact__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__field .contact__img {
  background-image: url(../images/003_400x600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.contact .contact__field .contact__img .contact__data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 0.2rem;
}

.contact .contact__field .contact__form {
  padding: 1rem 3rem;
}

.contact .contact__field .contact__form input,
.contact .contact__field .contact__form textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.contact .contact__field .contact__form input[type=submit] {
  background-color: #E07AB7;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
}

@media (orientation: landscape) {
  .contact .contact__field .contact__img {
    background-position: center;
  }
  .contact .contact__field .contact__form {
    width: 70%;
  }
}

@media (min-width: 701px) {
  .contact .contact__field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=main.css.map */