.contact {
    background-color: $main-color;

    .contact__title {
        @include section-title ($main-color);
    }

    .contact__field {
        display: flex;
        flex-direction: column;

        .contact__img {
            background-image: url(/images/003_400x600.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 100vw;
            height: 100vh;

            .contact__data {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                letter-spacing: 0.2rem;
            }
        }

        .contact__form {
            padding: 1rem 3rem;

            input,
            textarea {
                padding: 0.5rem;
                margin: 0.5rem 0;
            }
        }
    }
}


@media (orientation: landscape) {
    .contact {
        .contact__field {
            .contact__img {
                background-position: center;
            }

            .contact__form {
                width: 70%;
            }
        }
    }
}

@media (min-width: 701px) {
    .contact {
        .contact__field {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}