.header {

    background-image: url(/images/lifeguard-1209187_1920.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .header__menu {
        font-size: 2rem;
        padding: 3rem 2rem;
    }

    .hamburger-button-hidden {
        display: none;
    }

    .mobile-menu-open {
        width: 30vh;
    }

    .nav {
        .nav__list {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 10em;
            z-index: 100;
            list-style: none;


        }


    }

    .nav__title {
        font-family: 'Mrs Saint Delafield', cursive;
        font-weight: 400;
        font-size: 5rem;
        text-align: center;
        padding-top: 2rem;

    }

    .nav__subtitle {
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
    }


}