@mixin section-title ($bgcolor) {
    padding: 1rem 3.5rem;
    text-transform: uppercase;
    background-color: $bgcolor;
}


@mixin main-button ($bgcolor, $color) {
    background-color: $bgcolor;
    font-size: 1em;
    color: $color;
    text-transform: uppercase;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
}