.portfolio {
    .portfolio__title {
        @include section-title (#E4E4E4)
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        .project__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 25%;

            .fa-angle-left,
            .fa-angle-right {
                font-size: 2rem;
                padding: 1rem;
            }
        }

        .project__title {
            padding: 1rem 0;
            text-align: center;
        }

        .project__sample {
            padding: 2rem;
            margin: auto;
            background-image: url(/images/paper_640.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            flex-basis: 75%;

        }

    }
}