.portfolio {
    .portfolio__title {
        @include section-title ($main-color)
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        .project__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 25%;

            .fa-angle-left,
            .fa-angle-right {
                font-size: 2rem;
                padding: 1rem;
            }
        }

        .project__title {
            padding: 1rem 0;
            text-align: center;
        }

        .project__sample {
            display: none;
            padding: 1rem 3rem;
            background-color: $second-color;
            flex-basis: 75%;
            margin: 1rem;
            border-radius: 1rem;
            overflow: hidden;
        }

        .visible {
            display: inline-block;
        }
    }
}

@media (min-width: 701px) {
    .portfolio {

        .project {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;


            .project__description {
                flex-basis: 30%;
                align-self: flex-start;
            }
        }

    }
}