.portfolio {
    .portfolio__title {
        @include section-title ($main-color)
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 100vw;


        .project__description-net,
        .project__description-blog,
        .project__description-adv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 33%;

            .fa-angle-left,
            .fa-angle-right {
                font-size: 2rem;
                padding: 1rem;
            }
        }

        .project__title {
            padding: 1rem 0;
            text-align: center;

            h3 {
                font-weight: 400;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }

        .project__sample-blog,
        .project__sample-net,
        .project__sample-adv {
            display: none;
            padding: 1rem 3rem;
            background-color: $second-color;
            flex-basis: 75%;
            margin: 1rem;
            border-radius: 1rem;
            overflow: hidden;
        }

        .visible {
            display: inline-block;
        }
    }
}