.social {
    position: fixed;
    bottom: 0;
    right: 0;

    .social__list {
        height: 50vh;
        list-style: none;
        padding: 1rem;

        .social__list-item {
            height: 20%;
            font-size: 2rem;

            &:hover {
                font-size: 1.5rem;
            }

            .social__link {
                text-decoration: none;

                .fa-github-square {
                    color: black;
                }

                .fa-facebook-square {
                    color: #3b5998;
                }

                .fa-twitter-square {
                    color: #00aced;
                }

                .fa-instagram {
                    color: #c32aa3;
                }

                .fa-pinterest-square {
                    color: #bd081c;
                }
            }
        }
    }
}

@media (orientation: landscape) {
    .social {
        .social__list {
            height: 100vh;
        }
    }
}